@import "tailwindcss";

:root {
  --ring: #0EA5E9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

::selection {
  background: #0ea5e9;
  color: #0c0c0c;
}
